html{
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
.title {
  margin-top: 10px;
  font-size: 50px;
  margin-left: 15%;
  padding: 0 0;
  content: ".";
}
.example {
  width: 1500px;
  object-fit: cover;
}
.button-background{
  background: #E3DBD1;
  box-shadow: 0px 5px #B2A390;
  margin-bottom: 30px;
  width: 900px
}
.buttons{
  text-align: center;
  margin-inline: auto;
}
.color-change-button{
  display: inline-block;
  background: #785F4E;
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 4px;
  color: #FFF;
  text-decoration: none;
  margin: 30px 3px;
}
.color-change-button:hover{
  background: #FFF;
  color: #FD8B8A;
}
.it{
  padding: 0;
  height: 20px;
  padding: 0;
}
.header-menu{
  margin: 0 0 0 auto;
  display: flex;
}
.wrap {
  display:flex;
  flex-flow: wrap;
  border:2px #ccc solid;
  height:170px;
  width: 300px;
}
.main {
  margin: 0 10px;
  -webkit-flex: 2;
  flex: 2;
}
.side {
  -webkit-flex: 1;
  flex: 1;
}

.flex{
  margin: 3.5em 300px; /* 外側の余白を、上下は3.5文字分に、左右は15pxに */
  padding: 0;           /* 内側の余白を消す(念のため) */
  flex-wrap: wrap;
}
.d-flex{
  display: flex;
}
/* contentA、Bは縦に分割しているセクションです */
.contentA{
  background: #b3d874;
}

.border-top{
  /*コレ*/border-top: 4px solid #593928;
  padding: 10px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.article{
  position: relative;
}
.center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid{
  gap: 3rem 2rem;
  grid-template-columns: repeat(3, 1fr) ;
}
.item img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius:  16px;
}
.item_2{
  width: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
} 
.left-bottom{
  width: 332.74px;
  height: 223px;
  object-fit: cover;
}
.right-bottom{
  width: 332.74px;
  height: 223px;
  object-fit: cover;
}
.wording{
  clear: both;
  font-size: 14px;
  font-weight: 700;
}
.wrapper imag{
  max-width: 1120px;
  margin: auto;
  padding: 0 1.5rem;
}
.item p {
  font-size: .875rem;
}
.contentB{
  background: #6fb5ff;
  height: 10000px;
  float: right;
  max-width: 700px;
}
@media screen and (max-width: 1200px) {
	/* 1200px以下に適用されるCSS（タブレット用） */
  .button-background{
    width: 70%;
  }
  
}
.ribbon1{
  display: inline-block;
  position: relative;
  height: 21px;/*リボンの高さ*/
  line-height: 50px;/*リボンの高さ*/
  text-align: center;
  padding: 0 30px;/*横の大きさ*/
  font-size: 12px;/*文字の大きさ*/
  background: #f57a78;/*塗りつぶし色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
  width: 160px;
  margin-top: 0;
}
.ribbon1:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent green transparent transparent;
  border-style: solid;
}

.wara {
  width: 300px;
  background-color: green;
}